[Unit]
Description=Setup GPIO pin %i to listen to poweroff requests
# Activated as a requirement, so stop when unneeded
StopWhenUnneeded=yes
# Need this to get around circular dependency with paths.target
DefaultDependencies=no
[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/sh -c "/usr/local/bin/gpio-admin export %i pullup; echo falling > /sys/class/gpio/gpio%i/edge"
ExecStop=/usr/local/bin/gpio-admin unexport %i
